body {
  background-color: #000000;
}

img {
  display: block;
  margin: auto;
  max-width: 800px;
}

@media (max-width: 900px) {
  img {
    display: block;
    margin: auto;
    max-width: 400px;
    padding-top: 200px;
    padding-right: 50px;
  }
}
